:root {
  /* шрифти */
  --textPrimary: "Raleway", serif;
  --textSecond: "Oswald", serif;
  /* кольори */
  --colorTextPrimary: #000000;
  --colorTExtContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBGPrimary: #121212;
  --colorBGSection: #efefef;
}
body {
  font-family: var(--textPrimary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
/* nav */
.header {
  background-color: var(--colorTextPrimary);
}
.nav-link {
  font-family: var(--textSecond);
  color: var(--colorTExtContrast);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--colorButton);
}
/* hero */
.hero-title {
  font-size: 64px;
  text-transform: capitalize;
  font-weight: 400;
}
.hero-title-part {
  font-size: 64px;
  font-weight: 700;
}
.hero-button {
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
}
.hero-button:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* about-us */
.about {
  background-color: var(--colorBGSection);
}
.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}
.about-text {
  font-size: 32px;
  line-height: 1.18;
}
.about-link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
}
.about-link:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* advantages */
.advantages-title {
  font-size: 32px;
  font-weight: 700;
}
/* footer */
