:root {
  /* шрифти */
  --textPrimary: "Raleway", serif;
  --textSecond: "Oswald", serif;
  /* кольори */
  --colorTextPrimary: #000000;
  --colorTExtContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBGPrimary: #121212;
  --colorBGSection: #efefef;
}
body {
  font-family: var(--textPrimary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px;
}
/* nav */
.header {
  background-color: var(--colorTextPrimary);
  padding: 30px 0px 30px 0px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 780px;
}
.nav-link {
  font-family: var(--textSecond);
  color: var(--colorTExtContrast);
}
.nav-link:hover {
  color: var(--colorButton);
}
/* hero */
.hero-container {
  display: flex;
  gap: 342px;
}
.hero-content {
  padding: 150px 0px 364px 0px;
}
.hero-title {
  font-size: 64px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 85px;
}
.hero-title-part {
  font-size: 64px;
  font-weight: 700;
}
.hero-button {
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
  border-radius: 5px;
}
.hero-button:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* about-us */
.about {
  background-color: var(--colorBGSection);
}
.about-container {
  display: flex;
  gap: 78px;
  align-items: center;
}
.about-content {
  padding: 100px 0px 100px 0px;
}
.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.about-text {
  font-size: 32px;
  line-height: 1.18;
}
.about-text:first-of-type {
  margin-bottom: 40px;
}
.about-text:last-of-type {
  margin-bottom: 60px;
}
.about-link {
  font-size: inherit;
  color: inherit;
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
  display: inline-block;
}
.about-link:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* advantages */
.advantages {
  padding: 60px 0px 60px 0px;
}
.advantages-container {
  display: flex;
  align-items: center;
  gap: 174px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 88px;
  column-gap: 115px;
}
.advantages-item {
  max-width: 407px;
}
.advantages-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}
/* services */
.services {
  background-color: var(--colorBGSection);
  padding: 60px 0px 60px 0px;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.services-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.services-text {
  text-align: center;
  font-size: 32px;
  line-height: 1.18;
  max-width: 1346px;
}
.services-list {
  display: flex;
  column-gap: 20px;
  margin-bottom: 24px;
}
.services-img {
  margin-bottom: 25px;
}
.services-link {
  font-size: inherit;
  font-family: var(--textSecond);
  line-height: 1.5;
  border: 3px solid #b2ffa6;
  letter-spacing: 0.06em;
  border-radius: 5px;
  padding: 15px 80px;
  display: inline-block;
}
.services-link:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
  border: 3px solid transparent;
}
/* footer */
.footer {
  background-color: var(--colorBGPrimary);
  padding: 35px 0px 35px 0px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-footer {
  margin-right: 50px;
}
.logo {
  font-size: 40px;
  font-weight: 300;
  color: var(--colorTExtContrast);
  display: flex;
  align-items: center;
}
.logo-part {
  font-weight: 700;
}
.footer-text {
  color: var(--colorTExtContrast);
}
