:root {
  /* шрифти */
  --textPrimary: "Raleway", serif;
  --textSecond: "Oswald", serif;
  /* кольори */
  --colorTextPrimary: #000000;
  --colorTExtContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBGPrimary: #121212;
  --colorBGSection: #efefef;
}
body {
  font-family: var(--textPrimary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px;
}
/* nav */
.header {
  background-color: var(--colorTextPrimary);
}
.nav-link {
  font-family: var(--textSecond);
  color: var(--colorTExtContrast);
}
.nav-link:hover {
  color: var(--colorButton);
}
/* hero */
.hero-title {
  font-size: 64px;
  text-transform: capitalize;
  font-weight: 400;
}
.hero-title-part {
  font-size: 64px;
  font-weight: 700;
}
.hero-button {
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
}
.hero-button:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* about-us */
.about {
  background-color: var(--colorBGSection);
}
.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}
.about-text {
  font-size: 32px;
  line-height: 1.18;
}
.about-link {
  font-size: inherit;
  color: inherit;
  font-family: var(--textSecond);
  border: none;
  background-color: var(--colorButton);
  padding: 10px 32px;
  line-height: 1.5;
}
.about-link:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* advantages */
.advantages-title {
  font-size: 32px;
  font-weight: 700;
}
/* services */
.services {
  background-color: var(--colorBGSection);
}
.services-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.services-text {
  text-align: center;
  font-size: 32px;
  line-height: 1.8;
}
.services-link {
  font-size: inherit;
  font-family: var(--textSecond);
  line-height: 1.5;
  border: 3px solid #b2ffa6;
  letter-spacing: 0.06em;
  border-radius: 5px;
  padding: 15px 80px;
}
.services-link:hover {
  color: var(--colorTExtContrast);
  border: none;
  background-color: var(--colorBGPrimary);
  cursor: pointer;
}
/* footer */
.footer {
  background-color: var(--colorBGPrimary);
}
.logo {
  font-size: 40px;
  font-weight: 300;

  color: var(--colorTExtContrast);
}
.logo-part {
  font-weight: 700;
}
